<div class="container">
    <footer class="row justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-12 col-md-6 mb-3 mb-md-0 d-flex justify-content-start align-items-center">
            <a href="/" class="me-2 mb-md-0 text-secondary text-decoration-none lh-1">
                <svg class="bi text-white" width="30" height="24" fill="currentColor"><use xlink:href="#wp-logo-3"></use></svg>
            </a>
            <span class="text-secondary">© 2021 - {{ date('now')|date('Y') }} Wagner Pictures</span>
        </div>
        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <ul class="nav justify-content-start justify-content-md-end list-unstyled d-flex align-items-center">
                <li class=""><a class="link-secondary" href="#"><svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-secondary" href="#"><svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-secondary" href="#"><svg class="bi" width="20" height="20" fill="currentColor"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </div>
    </footer>
</div>
