<div class="offcanvas offcanvas-start inset-left" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-normal" id="offcanvasExampleLabel">
            <a href="/" class="d-flex align-items-center  me-lg-auto text-dark text-decoration-none">
                <svg class="bi me-2 text-white" width="40" height="32" fill="currentColor">
                    <use xlink:href="#wp-logo-3"></use>
                </svg>
                <span class="fs-5">Wagner Pictures</span>
            </a>
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        {{ knp_menu_render('sidebar',{'depth': 1,'allow_safe_labels': true}) | raw }}
    </div>
</div>