// IBM Plex
//======================================================================================================================

// Font Prefix
$font-prefix: "~@ibm/plex";

// Font Collection
@import "~@ibm/plex/scss/sans/index";
@import "~@ibm/plex/scss/mono/index";

$font-family-sans-serif:      'IBM Plex Sans';
$font-family-monospace:       'IBM Plex Mono';
$line-height-base: 1.4;
$font-weight-base:            300;
$font-weight-bold:            300;
$font-weight-bolder:          500;
$font-size-base: 1rem;